// Color pallets 
    // primary Color 
        $colorPrimary: #070600; 
    // Secondary Color 
        $colorSecondary: #eec10d;
        $colorSecondary-dark: #735807;
    // Tertiary Color 
        $colortertiary:#BFAAAE;
    // Grey Color 
        $ColorGrey: #737B9B;
    // White Color 
        $ColorWhite: #ffffff;
// Font Clamp 